

/* ------------ Command Palette ------------ */
.quick-input-titlebar {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.quick-input-widget {
    background-color: var(--vscode-quickInput-background) !important;
    border-radius: 14px !important;
    min-height: 58px !important;
    box-shadow: 0px 2px 10px 4px var(--vscode-widget-shadow) !important;
}

.quick-input-widget.show-file-icons {
    top: 25% !important;
    padding-bottom: 4px;
}

.quick-input-list {
    
    padding: 0px 2px 0px 2px;
    margin-top: 0;
}

.quick-input-list [class^='monaco-list list_id'] .monaco-list-rows {
    background: var(--vscode-quickInput-background) !important;
}

.quick-input-list .monaco-list:not(.drop-target):not(.dragging) .monaco-list-row:hover:not(.selected):not(.focused) {
    background-color: var(--vscode-quickInputList-focusBackground) !important;
}

.quick-input-list [class^='monaco-list list_id'] .monaco-list-row.focused {
    background-color: var(--vscode-quickInputList-focusBackground) !important;
}

.quick-input-list .quick-input-list-entry {
    padding: 0 2px;
    border-top-color: var(--vscode-quickInputList-focusBackground) !important;
}

.monaco-workbench .synthetic-focus {
    outline: var(--vscode-quickInput-background) !important;
}

.quick-input-and-message .monaco-inputbox>.ibwrapper {
    background: var(--vscode-quickInput-background) !important;
    border-color: var(--vscode-quickInput-background) !important;
    border-width: 0 !important;
    width: calc(100% - 3px * 2);
    padding: 3px;
}

.quick-input-widget.show-checkboxes .quick-input-box,
.quick-input-widget.show-checkboxes .quick-input-message {
    margin-left: 0 !important;
}

.quick-input-and-message .monaco-inputbox.idle {
    border-color: var(--vscode-quickInput-background) !important;
    background-color: var(--vscode-quickInput-background) !important;
}

.quick-input-and-message .monaco-inputbox>.ibwrapper>.input {
    border-radius: 8px !important;
    padding: 12px;
    background-color: var(--vscode-quickInput-background) !important;
    border: 1px solid var(--vscode-quickInputList-focusBackground);
    margin-top: -3px;
}

.quick-input-list .monaco-list-row {
    border-radius: 4px;
}

.quick-input-list .quick-input-list-entry-action-bar .action-label.codicon {
    margin-right: 0;
}

.quick-input-action {
    display: flex;
    align-items: center;
    margin-left: 2px;
}

.quick-input-count {
    right: 14px; }